[user]
    email = 67710369+Shrimpram@users.noreply.github.com
    name = Shreeram Modi
    signingkey = 0x163B16EE76ED24CE
[pull]
    rebase = false
[gpg]
    program = gpg
[core]
    excludesfile = ~/.gitignore
[pager]
    diff = less
    log = less
    reflog = less
    show = less
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
