[submodule "zsh/.config/zsh/plugins/fzf-tab"]
	path = zsh/.config/zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
[submodule "zsh/.config/zsh/plugins/powerlevel10k"]
	path = zsh/.config/zsh/plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
